Repository cython/cython, pull requests merged in 2018-09, with the labels that each got.

#2595 cython_inline compiler directives support
  Cython/Build/Inline.py
  Cython/Build/Tests/TestInline.py
Labels: Build System, enhancement

#2627 ENH: add check_size option to ctypedef class for external classes
  CHANGES.rst
  Cython/Compiler/ModuleNode.py
  Cython/Compiler/Nodes.py
  Cython/Compiler/Parsing.py
  Cython/Compiler/PyrexTypes.py
  Cython/Compiler/Symtab.py
  Cython/Utility/ImportExport.c
  docs/src/userguide/extension_types.rst
  tests/run/check_size.srctree
Labels: Cython Language Feature, enhancement

#2635 Add new "language_level=3str"
  CHANGES.rst
  Cython/Compiler/Main.py
  Cython/Compiler/Options.py
  Cython/Compiler/Parsing.py
  tests/run/cython3_no_unicode_literals.pyx
Labels: Cython Language Feature, Python Semantics
