Repository cython/cython, pull requests merged in 2019-09, with the labels that each got.

#3096 Handle normalization of unicode identifiers
  Cython/Compiler/Lexicon.py
  Cython/Compiler/Scanning.py
  Cython/Utils.py
  runtests.py
  tests/errors/unicode_identifiers_e1.pyx
  tests/errors/unicode_identifiers_e2.pyx
  tests/errors/unicode_identifiers_e3.pyx
  tests/errors/unicode_identifiers_e4.pyx
  tests/run/unicode_identifiers.pyx
  tests/run/unicode_identifiers_normalization.srctree
Labels: Parsing, enhancement

#3116 Put __Pyx_PyMethod_New directly in the tp_descr_get slot
  Cython/Utility/CythonFunction.c
  Cython/Utility/ModuleSetupCode.c
  Cython/Utility/ObjectHandling.c
Labels: Code Generation, enhancement

#3118 Add support of const fused type memory views
  Cython/Compiler/PyrexTypes.py
  tests/errors/fused_types.pyx
  tests/memoryview/numpy_memoryview_readonly.pyx
  tests/run/fused_types.pyx
Labels: Type Analysis, enhancement

#3101 Support vectorcall for Cython functions
  Cython/Compiler/Nodes.py
  Cython/Compiler/ParseTreeTransforms.py
  Cython/Utility/CythonFunction.c
  Cython/Utility/ModuleSetupCode.c
  Cython/Utility/ObjectHandling.c
  tests/run/fastcall.pyx
Labels: Code Generation, Optimization, feature

#3103 Fixing the handling of --annotate-fullc in cythonize.py
  Cython/Build/Cythonize.py
  Cython/Build/Tests/TestCythonizeArgsParser.py
  Cython/Compiler/Tests/TestCmdLine.py
  Cython/Compiler/Tests/Utils.py
  runtests.py
  tests/build/cythonize_with_annotate_via_cli.srctree
Labels: Build System, defect
