Repository cython/cython, pull requests merged in 2019-01, with the labels that each got.

#2778 fix the comments to have a c89 compliant generated code
  Cython/Utility/ModuleSetupCode.c
Labels: Code Generation, defect

#2779 Fix source of non-deterministic cython output for try/finally statements
  Cython/Compiler/Code.py
Labels: Code Generation, defect

#1667 Support for "volatile" keyword
  Cython/Compiler/Code.py
  Cython/Compiler/ExprNodes.py
  Cython/Compiler/MemoryView.py
  Cython/Compiler/Nodes.py
  Cython/Compiler/Parsing.py
  Cython/Compiler/PyrexTypes.py
  Cython/Compiler/Symtab.py
  Cython/Compiler/TypeInference.py
  tests/compile/volatile.pyx
  tests/errors/const_decl_errors.pyx
  tests/errors/duplicate_const.pyx
Labels: Cython Language Feature, feature

#2775 Avoid const-ness compiler warning in __Pyx_PyObject_AsWritableString
  Cython/Utility/ModuleSetupCode.c
  Cython/Utility/TypeConversion.c
Labels: Code Generation, defect

#2806 Implement "gen.gi_frame" and "coro.cr_frame" attributes on generators and coroutines
  CHANGES.rst
  Cython/Utility/Coroutine.c
  tests/run/coroutines.py
  tests/run/generators.pyx
Labels: Python Semantics

#2808 Speed up multiplication of Python numbers with small integers (<= 2**30)
  CHANGES.rst
  Cython/Compiler/Optimize.py
  Cython/Utility/Optimize.c
  tests/run/consts.pyx
  tests/run/mulop.pyx
Labels: Code Generation, enhancement
