Repository cython/cython, pull requests merged in 2022-03, with the labels that each got.

#4669 Allow None to be passed to args annotated as object
  Cython/Compiler/Nodes.py
  tests/run/ext_type_none_arg.pyx
Labels: defect, Type Analysis

#4685 Remove obselete memoryview getbuffer fallback code
  Cython/Compiler/MemoryView.py
  Cython/Compiler/ModuleNode.py
  Cython/Utility/Capsule.c
  Cython/Utility/MemoryView.pyx
  tests/compile/fused_redeclare_T3111.pyx
Labels: Code Generation, cleanup

#4690 Do not redefine _USE_MATH_DEFINES in generated code
  Cython/Utility/ModuleSetupCode.c
Labels: defect, Code Generation

#4694 Allow setting descriptor docstring on PyPy>v7.3.9
  Cython/Compiler/Nodes.py
  Cython/Utility/ModuleSetupCode.c
  Cython/Utility/TypeConversion.c
Labels: defect, Code Generation

#4703 Avoid acquiring the GIL at the end of nogil functions (GH-3556)
  Cython/Compiler/Code.py
  Cython/Compiler/Nodes.py
  Cython/Compiler/ParseTreeTransforms.py
  Cython/Utility/ModuleSetupCode.c
Labels: enhancement, Code Generation

#4708 Warning to use submodules instead of "cimport cpython"
  docs/src/userguide/external_C_code.rst
Labels: Documentation
