Repository cython/cython, pull requests merged in 2023-05, with the labels that each got.

#5414 use CYTHON_PEP489_MULTI_PHASE_INIT on PyPy
  Cython/Utility/ModuleSetupCode.c
Labels: defect, Code Generation, PyPy

#5417 Fix usage of _MSC_VER macro
  Cython/Utility/ModuleSetupCode.c
Labels: defect, Code Generation

#5421 Silence GCC -Wsign-conversion when using CYTHON_LIMITED_API
  Cython/Compiler/Builtin.py
  Cython/Compiler/PyrexTypes.py
  Cython/Plex/Machines.pxd
  Cython/Plex/Machines.py
  Cython/Utility/ModuleSetupCode.c
  Cython/Utility/TypeConversion.c
Labels: defect, Code Generation

#5427 enable passing datetime tests on PyPy
  tests/pypy_bugs.txt
Labels: Testing

#5432 Prevent calling the dealloc slot of a non-GC base class with GC tracking enabled
  Cython/Compiler/ModuleNode.py
  tests/run/exttype_gc.pyx
Labels: defect, Code Generation

#5438 Fix a signedness compiler warning in vector.to_py
  Cython/Utility/CppConvert.pyx
Labels: defect, Code Generation

#5437 PyPy < 3.10 needs tp_print
  Cython/Compiler/TypeSlots.py
  Cython/Utility/AsyncGen.c
  Cython/Utility/Coroutine.c
  Cython/Utility/CythonFunction.c
  Cython/Utility/ModuleSetupCode.c
Labels: defect, Code Generation, PyPy

#5443 Fix usage of __STDC_VERSION__ macro
  Cython/Utility/Complex.c
  Cython/Utility/ImportExport.c
  Cython/Utility/ModuleSetupCode.c
Labels: defect, Code Generation

#5442 Adapt the exception handling to Py3.12a6
  Cython/Compiler/ExprNodes.py
  Cython/Debugger/libpython.py
  Cython/Utility/Coroutine.c
  Cython/Utility/Exceptions.c
  Cython/Utility/ModuleSetupCode.c
  Cython/Utility/ObjectHandling.c
Labels: enhancement, Code Generation

#5415 Enhancements to autodoc/embedsignature
  Cython/Compiler/AutoDocTransforms.py
  Cython/Compiler/FusedNode.py
  Cython/Compiler/Options.py
  Cython/Compiler/PyrexTypes.py
  Cython/Shadow.py
  docs/src/userguide/source_files_and_compilation.rst
  tests/run/embedsignatures.pyx
  tests/run/embedsignatures_clinic.pyx
  tests/run/embedsignatures_python.pyx
  tests/run/fused_types.pyx
Labels: enhancement, Cython Language Feature

#5420 Avoid generating dead code in the special binop method handling helpers
  Cython/Utility/ExtensionTypes.c
Labels: defect, Code Generation

#4812 Fix access to __qualname__ and __module__ during class definition
  Cython/Compiler/FlowControl.py
  Cython/Compiler/ParseTreeTransforms.py
  Cython/Compiler/PyrexTypes.py
  Cython/Compiler/Symtab.py
  tests/run/qualname.py
  tests/run/qualname.pyx
Labels: defect, Python Semantics

#5446 Allow `dataclasses.dataclass` to be used directly on extension types
  Cython/Compiler/Builtin.py
  Cython/Compiler/Dataclass.py
  Cython/Compiler/Nodes.py
  Cython/Compiler/Options.py
  Cython/Compiler/ParseTreeTransforms.py
  docs/examples/userguide/extension_types/dataclass.py
  docs/examples/userguide/extension_types/dataclass.pyx
  docs/examples/userguide/special_methods/total_ordering.py
  docs/examples/userguide/special_methods/total_ordering.pyx
  docs/src/userguide/extension_types.rst
  docs/src/userguide/special_methods.rst
  tests/errors/dataclass_e2.pyx
  tests/errors/dataclass_e3.pyx
  tests/run/exttype_total_ordering.pyx
  tests/run/pure_cdef_class_dataclass.py
  tests/run/test_dataclasses.pxi
Labels: enhancement, Cython Language Feature

#5429 unskip and fix some passing tests
  .github/workflows/ci.yml
  Cython/Utility/AsyncGen.c
  Cython/Utility/ModuleSetupCode.c
  Cython/Utility/ObjectHandling.c
  tests/pypy_bugs.txt
  tests/run/async_iter_pep492.pyx
  tests/run/error_pos.srctree
  tests/run/test_asyncgen.py
Labels: Testing, PyPy

#5382 Document different openmp command line argument on Windows
  docs/src/userguide/numpy_tutorial.rst
Labels: Documentation

#5312 Add troubleshooting section to docs
  docs/src/tutorial/embedding.rst
  docs/src/userguide/external_C_code.rst
  docs/src/userguide/index.rst
  docs/src/userguide/language_basics.rst
  docs/src/userguide/troubleshooting.rst
  docs/src/userguide/wrapping_CPlusPlus.rst
Labels: Documentation

#5456 Fix typos found by codespell
  Cython/Compiler/Code.py
  Cython/Compiler/Dataclass.py
  Cython/Compiler/ExprNodes.py
  Cython/Compiler/FusedNode.py
  Cython/Compiler/PyrexTypes.py
  Cython/Compiler/Symtab.py
  Cython/Debugger/libcython.py
  Cython/Includes/libcpp/algorithm.pxd
  Cython/Plex/Lexicons.py
  Cython/TestUtils.py
  Cython/Utility/Buffer.c
  docs/conf.py
  docs/src/userguide/memoryviews.rst
  tests/run/check_size.srctree
  tests/run/methodmangling_T5.py
  tests/run/typed_slice.pyx
Labels: cleanup
